a {
  text-decoration: none; }

input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {
  padding: 5px; }

ul.horizon {
  list-style: none; }
  ul.horizon li {
    float: left; }

.wrapper {
  width: 950px;
  margin: 0 auto; }

.header {
  height: 50px;
  background-color: #f3f3f3; }

.pagecontent {
  margin-top: 20px; }

#userbox {
  float: left;
  padding-top: 5px; }
  #userbox .avatar {
    float: left; }
  #userbox ul {
    float: left;
    font-size: 12px;
    maring: 0;
    padding: 0;
    padding-top: 11px; }
    #userbox ul li {
      display: inline-block; }
      #userbox ul li a {
        padding: 5px 10px; }
      #userbox ul li.login a {
        padding-left: 15px;
        border-right: 1px solid #ddd; }

#logo {
  float: right;
  padding: 3px; }

#sidebar {
  width: 199px;
  border-right: 1px solid #f3f3f3; }
  #sidebar .right-panel ul {
    list-style: none;
    margin-right: 0;
    padding-left: 10px; }
    #sidebar .right-panel ul li {
      display: inline-block;
      position: relative;
      width: 184px;
      padding-left: 5px; }
      #sidebar .right-panel ul li a {
        display: block;
        padding: 5px 0; }
      #sidebar .right-panel ul li.current {
        background-color: #f3f3f3; }

#maincontent {
  width: 720px;
  margin-left: 30px; }
