@import "compass/css3";

.translation_missing {
  background-color: #ffaacc;
}

a {
  text-decoration: none;
}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {
  padding: 5px;
}

ul.horizon {
  list-style: none;
  li {
    float: left;
  }
}

.loginpage {
  background-color: #eee;
  padding: 30px 0;
  min-height: 500px;
}
#loginform {
  width: 300px;
  margin: 0 auto;
  border: 8px solid #ccc;
  padding: 20px;
  @include border-radius(10px);
  background-color: #fff;
  
  h2 {
    border-bottom: 1px solid #ccc;
  }
}

.wrapper {
  width: 950px;
  margin: 0 auto;
}

.header {
  height: 50px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ddd;
  
  @include linear-gradient(#eee, #fcfcfc);
  
}

.pagecontent {
  margin-top: 20px;
}

#userbox {
  float:left;
  padding-top: 5px;

  .avatar{ float: left; }
  ul {
    float: left;
    font-size: 12px;
    maring: 0;
    padding: 0;
    padding-top:11px;
    li {
      display: inline-block;
      a {
        padding: 5px 10px;
        color: #666;
        &:hover {
          color: #999;
        }
      }
      &.login {
        a {
          padding-left:15px;
          border-right: 1px solid #ddd;
        }
      }
    }
  }
}

#logo {
  float: right;
  padding: 3px;
}

#sidebar {
  width: 199px;
  border-right: 1px solid #f3f3f3;
  
  .right-panel {
    h4 {
      color: #999;
    }
    ul {
      list-style: none;
      margin-right: 0;
      padding-left: 10px;
      li {
        display: inline-block;
        position: relative;
        width: 184px;
        padding-left: 5px;
        a {
          display: block;
          padding: 5px 0;
          color: #333;
        }
        &.current {
          background-color: #C7DCEE;
          &:hover {
            background-color: #C7DCEE;
          }
        }
        &:hover {
          background-color: #eeeeff;
        }
      }
    }
  }
}

#maincontent {
  width: 720px;
  margin-left: 30px;
}

.hswitch {
  ul {
    list-style: none;
    li {
      float: left;
    }
  }
}